*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;

  @include md {
    font-size: 62.5%;
  }
}

body {
  box-sizing: border-box;
  background-color: $lightPurple;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.sectionTitle {
  display: inline-block;
  background: $secondary;
  color: rgba(255, 255, 255, 0.87);
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.8rem;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
}

.sectionSubTitle {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: $grey;
  margin-top: 2rem;

  @include md {
    margin-top: 3rem;
  }
}
