// colors
$primary: #01037C;
$secondary: #2E2E99;
$grey: #606077;
$lightPurple: #F6F6FF;
$white: #FFF;
$black: #373737;
$gold: #DEA000;
$error: #FF0000;
$ghostWhite: rgba(255, 255, 255, 0.87);

/* fontsizes */
$default-font-sm: 1.4rem;
$default-font-mid: 1.6rem;
$default-font-lg: 1.8rem;

$default-font-family: "Mukta", sans-serif;

$thin-grey-border: 1px solid #EDEDED;
